<!DOCTYPE html>
<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>

        <p>Agencja detektywistyczna Kwadrat zgłosiła zapotrzebowanie na aplikację do zarządzania przydzielaniem spraw
            detektywom.
            Chcemy pamiętać informacje personalne detektywów oraz ich staż pracy w latach. Dla spraw pamiętamy ich nazwę
            oraz status (aktywna/zakończona). Musimy zapamiętać przy jakiej sprawie pracował detektyw, kiedy się zaczęła
            i ew. kiedy zakończyła.
        </p>
    </main>

<%- include('./fragments/footer.ejs') %>