<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Przydziel kolejnego detektywa do sprawy</h2>
        <form class="form">
            <!--</div>
            <div class="form-group">-->

            <label for="case">Sprawa:<abbr title="required" aria-label="required">*</abbr></label>

            <select id="case" name="case">
                <span id="errorCase" class="errors-text"></span>
                <option value="" disabled selected hidden>--Wybierz sprawę--</option>
                <option value="">Morderstwo Stefana O.</option>
                <option value="">Zaginięcie Ewy S.</option>
            </select>

            <!--</div>
                <div class="form-group">-->

            <label for="detective">Detektyw:<abbr title="required" aria-label="required">*</abbr></label>
            <select id="detective" name="detective">
                <span id="errorDetective" class="errors-text"></span>
                <option value="" disabled selected hidden>--Wybierz detektywa--</option>
                <option value="">Krzysztof Kwadrat</option>
                <option value="">Barbara Kordas</option>
                <option value="">Michał Malarski</option>
                <option value="">Eliza Salander</option>
            </select>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input class="form-button-submit" type="submit" value="Dodaj" />
                <a class="form-button-cancel" href="views/pages/detective-c.ejs">Anuluj</a>
            </div>
        </form>
    </main>
<%- include('../fragments/footer.ejs') %>