<%- include('../fragments/header.ejs') %>

    <main>
        <h2>Szczegóły przydziału sprawy</h2>
        <form class="form">
            <label for="idassignment">ID przydziału:</label>
            <input type="number" name="idassignment" value="021" id="idassignment" disabled />


            <label for="case">Nazwa sprawy:</label>
            <input type="text" name="case" value="Morderstwo Stefana O." id="case" disabled />

            <!--</div>
            <div class="form-group">-->

            <label for="detective">Prowadzący śledztwo:</label>
            <input type="text" name="detective" value="Krzysztof Kwadrat" id="detective" disabled />


            <label for="dateFrom">Data rozpoczęcia:</label>
            <input type="date" name="dateFrom" value="2003-10-11" id="dateFrom" disabled />

            <!--</div>
            <div class="form-group">-->
            <label for="dateFrom">Data zakończenia:</label>
            <input type="date" name="dateTo" value="2004-04-05" id="dateTo" disabled />



        </form>
        <div class="form-buttons">

            <p>
                <a class="list-actions-button-details" href="views/pages/detective-c.ejs">Powrót</a>

                <a class="list-actions-button-edit" href="views/pages/edit-assignment-form.ejs">Edytuj</a>
            </p>
        </div>


    </main>

<%- include('../fragments/footer.ejs') %>